:root {
    --lime-green: #32cd32;
    --black: #000;
    --white: #fff;
    --red: #ff484e;
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header {
    width: 100%;
    height: 120px;
    border-bottom: 3px solid var(--lime-green);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    height: 71px;
    width: 462px;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 81px;
}
header .logo span{
    font-family: var(--poppins);
    font-size: 45px;
    font-weight: bold;
    color: var(--lime-green);
}
header .menu {
   height: 62px;
   width: 400px;
   margin-right: 60px;
   display: flex;
}
header .menu .teacher, .student{
    display: flex;
    align-items: center;
}
header .menu .student {
    margin-left: 20px;
}
header .menu img:hover {
    transform: scale(1.2);
}
.menu-span{
    font-family: var(--lato);
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}
.teacher .menu-span {
    margin-left: 8px;
}
.container {
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.content .text-container {
    margin: 60px 81px 0px 81px;
    margin-bottom: -40px;
    width: 100%;
}
.content .text-container .text {
    width: 629px;
}
.content .text p {
    font-family: var(--lato);
    font-size: 65.45px;
    color: var(--lime-green);
    font-weight: bolder;
    text-align: left;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px 81px;
}
.buttons .button {
    height: 72px;
    width: 236px;
}
.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lime-green);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.button1:hover {
    background-color: var(--white);
    color: var(--lime-green);
    border: 2px solid var(--lime-green);
    border-radius: 15px;
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
}
.button2 {
    background-color: var(--white);
    border: 2px solid var(--lime-green);
    border-radius: 15px;
    margin-left: 52px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--lime-green);
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
}
.button2:hover {
    width: 250px;
}