:root {
    --lime-green: #32cd32;
    --black: #000;
    --white: #fff;
    --red: #ff484e;
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
header {
    width: 100%;
    height: 120px;
    border-bottom: 3px solid var(--lime-green);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    height: 71px;
    width: 462px;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 81px;
    text-decoration: none;
}
header .logo span{
    font-family: var(--poppins);
    font-size: 45px;
    font-weight: bold;
    color: var(--lime-green);
}
header .menu {
   height: 62px;
   width: 443px;
   margin-right: 60px;
   display: flex;
   justify-content: flex-end;
}
header .menu img:hover {
    transform: scale(1.2);
}
header .menu .teacher{
    display: flex;
    align-items: center;
}
.menu-span{
    font-family: var(--lato);
    font-size: 25px;
    font-weight: 500;
}
.teacher .menu-span {
    margin-left: 8px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main .container {
    height: 375px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.container .box, .text{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.container .text {
    height: 30px;
    font-family: var(--lato);
    font-size: 25px;
    color: var(--lime-green);
    margin-bottom: -10px;
}
.container .box {
    height: 300px;
    display: flex;
    flex-direction: column;
}
.container .box .question {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--lato);
    font-size: 33.60px;
    border: 1px solid var(--lime-green);
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.container .box .option {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--lime-green);
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.container .box .option div{
    width: calc(100%/2);
    height: calc(100%/2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .option button {
    background-color: var(--white);
    color: var(--black);
    width: 345px;
    height: 54px;
    font-family: var(--lato);
    font-size: 22px;
    cursor: pointer;
    border: 1px solid var(--lime-green);
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.buttons {
    width: 956px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 81px;
}
.buttons .button {
    height: 55px;
    width: 259px;
    cursor: pointer;
}
.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lime-green);
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.button1 img {
    margin-top: 2px;
    margin-left: 11px;
    transform: scale(1.1);
}
.button1:hover {
    background-color: var(--white);
    color: var(--lime-green);
    border: 2px solid var(--lime-green);
    border-radius: 15px;
    font-family: var(--lato);
    font-size: 25px;
    color: var(--lime-green);
}
button.button2 {
    cursor: pointer;
    width: 180px;
    visibility: hidden;
    background-color: var(--white);
    border: 2px solid var(--lime-green);
    border-radius: 15px;
    margin-left: 40px;
    transition: 0.3s;
    text-decoration: none;
    color: var(--lime-green);
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
    margin-right: 40px;
}
.button2:hover {
    transform: scale(1.1);
}
