:root {
    --lime-green: #32cd32;
    --black: #000;
    --white: #fff;
    --red: #ff484e;
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
header {
    width: 100%;
    height: 120px;
    border-bottom: 3px solid var(--lime-green);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    text-decoration: none;
    height: 71px;
    width: 462px;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 81px;
}
header .logo span{
    font-family: var(--poppins);
    font-size: 45px;
    font-weight: bold;
    color: var(--lime-green);
}
header .menu {
   height: 62px;
   width: 400px;
   margin-right: 60px;
   display: flex;
   justify-content: flex-end;
}
header .menu img:hover {
    transform: scale(1.2);
}
header .menu .teacher{
    display: flex;
    align-items: center;
}
.menu-span{
    font-family: var(--lato);
    font-size: 25px;
    font-weight: 500;
}
.teacher .menu-span {
    margin-left: 8px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main .container {
    height: 323px;
    width: 956px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.container .box, .text{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.container .text {
    height: 30px;
    font-family: var(--lato);
    font-size: 25px;
    color: var(--lime-green);
    margin-bottom: -10px;
}
.container .box {
    height: 46px;
    display: flex;
    align-items: center;
    font-family: var(--lato);
    font-size: 25px;
    border: 1px solid var(--lime-green);
    border-radius: 12px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.container .name {
    width: 464px;
    text-align: left;
    margin-left: 22px;
}
.container .attempt {
    color: var(--lime-green);
    width: 201px;
}
.container .highest {
    color: var(--red);
    width: 141px;
    margin-left: 28px;
}
.container .icon {
    height: 35px;
    width: 33px;
    object-fit: contain;
    margin-left: 36px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding-top: 4px;
}
.container .icon img {
    transform: scale(1.45);
}
.buttons {
    width: 956px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 81px;
}
.buttons .button {
    height: 55px;
    width: 259px;
}
.button1 {
    background-color: var(--lime-green);
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
}
.button1 img {
    margin-left: 11px;
}
.button1:hover {
    background-color: var(--white);
    border: 2px solid var(--lime-green);
    border-radius: 15px;
    font-family: var(--lato);
    font-size: 25px;
    font-weight: bold;
    color: var(--lime-green);
}